:root {
    --bg-color: #161d22f3;
    --text-color: #ece5d8;
    --active-text-color: #fbf2e4;
    --navbar-bg-color: #1d272e;
    --search-hover-color: rgba(249, 247, 233, 0.084);
    --inner-card-bg-color: #243039;
}

// @media (prefers-color-scheme: light) {
//     :root {
//         --bg-color: #f5f5f5ed;
//         --text-color: #464a4f;
//         --active-text-color: #686767;
//         --navbar-bg-color: #ece5d8;
//         --search-hover-color: rgba(0, 0, 0, 0.084);
//         --inner-card-bg-color: #e3d9c8;
//     }
// }