@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.parallax {
  background: url("/misc/bg.webp");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.loader {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loader-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-self: center;
}

input input:active input:focus {
  border: none;
  outline: none;
}
